<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <header>
      <h1></h1>
  </header>
  <head>
    <title>Stratford_Blog!</title>
    <meta charset="utf-8" />
    <script src="/client.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <header>
      <h1 style="text-align: center;">
        Welcome to Stratford 6th Year Blog!!
      </h1>
    </header>
    <main>
      <h4 style="text-align: right;"><a href="gallery.html">Go to Gallery</a>, <a href="https://www.youtube.com/watch?v=YAgJ9XugGBo&pp=ygUNc3Bpbm5pbmcgZmlzaA%3D%3D">click for surpise!</a></h4>
      <form>
        <label>Name:</label><input id="firstName" type="text" placeholder="or initial" /> <br /><br />
        <label>Subject:</label><input id="surName" type="text" placeholder="whats popping?" /> <br /><br />

        <!-- REALLY IMPORTANT to get this to work!! -->
        <!-- Error in the sample code from JE... missing id="submit-btn" HOK -->
        <p style="text-align: center;"><button id="submit-btn" type="submit">Post it!</button> </p> 

        <!-- found on w3school -->
        <!--<button id="myBtn" type="button" value="Submit">Submit</button> -->
      </form>
      <!-- TUTORIAL D -->
      <p>Users:</p>
      <section>
        <ul id="users"></ul>
      </section>
    </main>
  </body>
</html>
